/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('/gradient.jpg');
	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
	font-family: 'PT Sans';
}

#container {
	width: 600px;
	margin: 20px auto;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.2);
	border-bottom-width: 3px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
}

#header {
	padding: 20px 50px;
	background-color: #2669A0;
	color: white;
	border: 0px solid rgba(0,0,0, 0.05);
	border-bottom-width: 5px;
}

#header h1 {
	font-weight: normal;
	font-size: 32px;
	float: left;
}

#header h1 a {
	font-weight: bold;
	font-size: 24px;
	color: white;
	text-decoration: none;
}

#menu {
	float: right;
	margin-top: 10px;
}

#menu a {
	display: block;
	width: 24px;
	height: 24px;
	opacity: 0.6;
	float: left;
	margin-left: 20px;
}

#menu a:hover {
	opacity: 1;
}

#header::after {
	content: "";
	display: block;
	clear: both;
}

.account {
	width: 108px;
	float: left;
	padding: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.account a {
	color: white;
	text-decoration: none;
}

.account .month {
	font-weight: bold;
	font-size: 24px;
}

.remove_button {
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 6px;
	right: 6px;
	opacity: 0.6;
}

.remove_button:hover {
	opacity: 1;
}

.money-left {
	font-size: 32px;
	font-weight: bold;
}

.record_item {
	border-radius: 0px;
}

.record_item:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.record_item:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.record_day {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.4);
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 0px;
  margin-right: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 26px;
  margin: 2px;
}

.record_form {
	margin-top: 2px;
	margin-left: 5px;
}

.record_value {
	font-size: 18px;
	width: 120px;
	font-weight: bold;
}