.block {
	display: block;
}

.clear {
	clear: both;
}

.position-relative {
	position: relative;
}

.show-on-hover-child {
	visibility: hidden;
}

.show-on-hover-parent:hover .show-on-hover-child {
	visibility: visible;
}

.good {
	background-color: #0ab54c;
	color: white;
}

.bad {
	background-color: #C78F00;
	color: white;
}

.normal-padding {
	padding: 20px 50px;
}

.small-padding {
	padding: 5px;
}

.dark-box {
	box-sizing: border-box;
	background-color: #444;
	padding: 20px 50px;
	border: 0px solid rgba(0,0,0,0.2);
	border-top-width: 4px;
	color: white;
}

.dark-box h3 {
	color: #aaa;
	margin: 5px 0px;
}

.item {
	box-sizing: border-box;
	color: white;
	border-radius: 5px;
	border: 0px solid rgba(0,0,0,0.2);
	border-bottom-width: 2px;
}

.label {
	color: #888;
	font-weight: bold;
}

.float-everything > * {
	display: block;
	float: left;
}

.float-everything::after {
	content: "";
	display: block;
	clear: both;
}

.invisible_field {
	color: inherit;
	background-color: transparent;
	box-sizing: border-box;
	padding: 5px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: transparent;
	border-radius: 4px;
}

.invisible_field:hover {
	border-color: #888;
}

.item .invisible_field:hover,
.good .invisible_field:hover,
.bad .invisible_field:hover {
	border-color: rgba(255,255,255,0.4);
}

.invisible_field:focus {
	background-color: white;
	color: black;
	border: none;
}