.block {
	display: block;
}

.clear {
	clear: both;
}

.position-relative {
	position: relative;
}

.show-on-hover-child {
	visibility: hidden;
}

.show-on-hover-parent:hover .show-on-hover-child {
	visibility: visible;
}

.good {
	background-color: #0ab54c;
}

.bad {
	background-color: #C78F00;
}

.normal-padding {
	padding: 20px 50px;
}

.dark-box {
	box-sizing: border-box;
	background-color: #444;
	padding: 20px 50px;
	border: 0px solid rgba(0,0,0,0.2);
	border-top-width: 4px;
}